{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-2">
<h1>Привет, я автор</h1>
<p class="text-left">
  Меня зовут Илья. Это мой первый проект и я очень рад тому, что этот текст просто отображается в браузере.
</p>
<p class="text-left">
  В мире программирования я пока новичок, но мне определенно тут нравится. Ничто так не вдохновляет, как результат
  проделанной работы. Хоть мой результат пока и скромен, но я за него очень горд. И конечно же в таком нелегком деле
  одному не справиться. С помощью высших сил интернета и зеленой черепахи, на которую я смотрю во время отдыха, родился этот проект.
</p>
<p class="text-left">
  Я тут недавно и резюме у меня пока что нет. Поэтому приложу только ссылку на GitHub:
</p>
    <a href="https://github.com/Ilia-Pringless" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Мой профиль на GitHub</a>
</div>
{% endblock %} 