{% extends "base.html" %}
{% block title %}
  {{ title }} {{ author.get_full_name }}
{% endblock %}
{% block content %}
{% load thumbnail %} 
    <main>
      <div class="container py-2">        
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        {% with total=post_list.count %}
        <h3>Всего постов: {{ total }} </h3> 
        {% endwith %}
        {% if author != user_profile %}
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
              Отписаться
            </a>
            {% else %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
              >
                Подписаться
              </a>
          {% endif %} 
          {% endif %}
        <article> 
            {% for post in page_obj %}
              <div class="container py-5">
                <ul>
                  <li>
                    <u>Автор: {{ post.author.get_full_name }}</u>
                  </li>
                  <li>
                    <u>Дата публикации: {{ post.created|date:"d E Y" }}</u>
                  </li>
                  <li>
                   <u>Группа: {{ post.group }}</u>
                  </li>
                </ul>
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                  <img class="card-img my-2" src="{{ im.url }}">
                {% endthumbnail %}
                <p>{{ post.text|linebreaksbr }}</p>
              {% if post.group %}
                <a href="{% url "posts:group_list" post.group.slug %}"> Все записи группы </a><br>
              {% endif %}
              <a href="{% url "posts:post_detail" post.pk %}"> Подробная информация </a>
              </div> 
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </article>              
        <hr>
        <div class="container py-5">
          {% include 'posts/includes/paginator.html' %}<!-- Здесь подключён паджинатор -->  
        </div>
      </div>
    </main>
{% endblock %}
